<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pipe_name</title>
    <table style="border-collapse: collapse; width: 100%; height: 36px;" border="1">
        <tbody>
            <tr style="height: 18px;">
                <td style="width: 16.6667%; height: 18px;">Pipe_Name</td>
                <td style="width: 16.6667%; height: 18px;">US1</td>
                <td style="width: 16.6667%; height: 18px;">US2</td>
                <td style="width: 16.6667%; height: 18px;">RK1</td>
                <td style="width: 16.6667%; height: 18px;">US4_rep</td>
                <td style="width: 16.6667%; height: 18px;">US4_bin</td>
            </tr>
                <tr style="height: 18px;">
                <td style="width: 16.6667%; height: 18px;">{{name}}</td>
                <td style="width: 16.6667%; height: 18px;"><a href="file:///{{узк1}}">{{узк1}}</a></td>
                <td style="width: 16.6667%; height: 18px;"><a href="file:///{{узк2}}">{{узк2}}</a></td>
                <td style="width: 16.6667%; height: 18px;"><a href="file:///{{р2}}">{{р2}}</a></td>
                <td style="width: 16.6667%; height: 18px;"><a href="file:///{{узк4_reports}}">{{узк4_reports}}</a></td>
                <td style="width: 16.6667%; height: 18px;"><a href="file:///{{узк4_bin}}">{{узк4_bin}}</a></td>
            </tr>
        </tbody>
    </table>
</head>

</html>